.point_bar {
  width: 200px;
  height: 5px;
  border-radius: 4px;
  background-color: #e9ebee;
  position: relative;
}
.point_barfilled {
  background-color: #66be5b;
  height: 100%;
  border-radius: 4px;
}

.point_script {
  display: flex;
  align-items: flex-start;
  height: 100%;
}

.point_text,
.point_recent {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.5px;
}
.point_text {
  color: #4e4e4e;
  margin-top: 8px;
  display: flex;
}
.point_recent {
  color: #66be5b;
  display: flex;
}
