.container {
    display: flex;
    padding: 0 20%;
    width: 100vw;
}

.Sidebar {
    background-color: #fff;
    width: 25%;
    box-shadow: 7px 0 8px #e9ebee;
}

.Sidebar a {
    font-weight: 600;
    padding: 20px 0px;
    display: flex;
    color: #5392f9;
    text-decoration: none;
    gap: 5px;
    align-items: center;
    letter-spacing: 1px;
}

.Sidebar a:hover {
    background-color: #5392f9;
    color: #fff;
}

.Sidebar hr {
    background-color: #ededed;
    height: 1px;
    margin: 30px;
}

.profile {
    padding: 20px 0px;
    display: flex;
    color: #333;
    gap: 5px;
    align-items: center;
    font-weight: 600;
    letter-spacing: 1px;
}

.Sidebar li {
    list-style: none;
    color: #5392f9;
}


.Show {
    padding: 0 50px;
    width: 75%;
}

