.card {
  display: flex;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12);
  border: 1px solid;
  border-color: #dddfe2;
  background-color: #fff;
  flex-direction: column;
  margin: 20px 0;
}
.booking {
  display: flex;
  gap: 15px;
}
.img {
  width: 30%;
  background-color: gray;
}
.info {
  padding: 20px 0px;
  width: 40%;
  letter-spacing: 1px;
  font-size: 14px;
}
.info .check {
  border: 1px solid rgb(40, 135, 28);
  font-size: 12px;
  padding: 2px 5px;
  color: rgb(40, 135, 28);
  width: fit-content;
  font-weight: 500;
  margin-bottom: 10px;
}

.info .check.cancel {
  border: 1px solid #e12d2d;
  color: #e12d2d;
}

.info h4 {
  font-size: 16px;
  margin-bottom: 10px;
}

.info h4 a {
  text-decoration: none;
  color: black;
}
.info .number {
  font-weight: 700;
}
.state {
  margin-top: 10px;
  color: rgb(40, 135, 28);
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.state.cancel {
  color: #e12d2d;
}

.info #one {
  font-weight: 700;
  margin-bottom: 10px;
}
.delete {
  font-weight: 0;
  opacity: 0.5;
}
.time {
  padding: 20px 0px;
  width: 30%;
  display: flex;
  gap: 20px;
  font-size: 14px;
  justify-content: flex-end;
  margin-right: 20px;
}
.checking {
  display: flex;
  flex-direction: column;
}
.date {
  font-size: 30px;
  display: flex;
  gap: 5px;
}
.month {
  font-size: 14px;
}
.setting {
  display: flex;
  padding: 7px 0;
  justify-content: flex-end;
  margin-right: 20px;
}
.setting button {
  color: #fff;
  background-color: #5392f9;
  padding: 10px 10px;
  letter-spacing: 1px;
  font-weight: 600;
  border: none;
  border-radius: 2px;
}
.setting button:hover {
  opacity: 0.7;
}
