.dropdownItem {
    padding-left: 10px;
    margin: 10px 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #d7d7db;
}

.dropdownItem:hover {
    cursor: pointer;
    opacity: 0.5;
}

.dropdownItem span {
    margin-left: 5px;
}