.card {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12);
  border: 1px solid;
  border-color: #dddfe2;
  /* display: flex; */
  background-color: #fff;
  border-radius: 5px;
  margin: 15px 0;
  width: 100%;
  padding: 12px;
}

.hotelInfor {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.hotel {
  display: flex;
  gap: 10px;
}

.hotel img {
  width: 30%;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: space-between;
}

.info #location {
  opacity: 0.7;
}
#location span {
  margin-left: 4px;
  font-size: 1.2rem;
}

.comment {
  display: flex;
  gap: 10px;
  align-items: center;
}

.comment #point {
  width: fit-content;
  padding: 4px;
  background-color: rgb(62, 108, 234);
  color: #fff;
  border-radius: 4px;
  font-weight: 600;
}

.comment #rate {
  color: rgb(62, 108, 234);
  font-weight: 700;
}

.comment #sumOfComment {
  opacity: 0.7;
}
.discount {
  text-align: center;
  /* display: flex; */
  position: absolute;
  background-color: rgb(225, 45, 45);
  color: #fff;
  padding: 10px 12px;
  border-radius: 4px;
  top: -18px;
  left: -33px;
  letter-spacing: 1px;
  width: 100px;
  /* flex-direction: column; */
  font-size: 14px;
}
.discount #two {
  margin-bottom: 5px;
  font-weight: 500;
  font-size: 22px;
}
.payment {
  width: 30%;
}
.payment button {
  margin: 5px 0;
  padding: 15px 10px;
  border: none;
  width: 180px;
  border-radius: 4px;
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 14px;
}
.payment #booking {
  background-color: #5392f9;
  color: #fff;
}
.payment #booking:hover {
  opacity: 0.7;
}
.payment #delete:hover {
  background-color: rgb(225, 45, 45);
  color: #fff;
}

.bookingInfor {
  margin-top: 20px;
  border-top: 1px solid #bec2c9;
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  align-items: center;
}
.booking #one {
  color: rgb(62, 108, 234);
  font-size: 18px;
}
.booking #two {
  font-size: 14px;
  opacity: 0.7;
}
.price {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.price #one {
  font-size: 20px;
  font-weight: 500;
}
.price #two {
  font-size: 14px;
  opacity: 0.7;
}
.price #three {
  font-size: 14px;
  opacity: 0.7;
  text-decoration: line-through;
}

/* Cart icon */
.cart_link {
  position: relative;
}
.quantity {
  position: absolute;
  top: -10px;
  right: -10px;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e12d2d;
  color: white;
  font-size: 1rem;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
