.HotelSuggest {
  width: 100%;
  height: fit-content;
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 2px solid #5392f9;
  flex-direction: column;
}
.hotel_header {
  display: grid;
  width: 100%;
  grid-template-columns: 2fr 1.5fr 1fr;
  margin: 10px;
  height: fit-content;
}

.hotel_type div {
  width: fit-content;
  font-size: 16px;
  font-weight: 500;
}
.hotel_type div:hover {
  border-bottom: 1px groove black;
  cursor: pointer;
}

.hotel_feedback {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 5px;
}
.comment {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.comment .text1 {
  font-family: 18px;
  font-weight: 500;
}

.comment .text2 {
  font-size: 11px;
  color: #807e7c;
}
.hotel_point {
  display: flex;
  align-items: center;
  color: #5392f9;
  margin-left: 5px;
  border-radius: 50%;
  padding: 5px;
  height: fit-content;
  width: fit-content;
  border: 1px solid #5392f9;
}

.hotel_sample {
  height: 100%;
  width: 100%;
  background-color: #f7f7f7;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 10px;
}
.room_type {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.room_price {
  display: flex;
  flex-direction: column;
}

.room_text {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 8px;
  margin-top: 8px;
  width: 100%;
}

.room_image {
  width: 100%;
  flex: 1;
}

.service_image {
  width: 100%;
  height: 200px;
}

/* .room_image {
  height: 200px;
  width: 100%;
  display: grid;
  grid-template-rows: 2fr 1fr;
  gap: 5px;
} */

.big_image {
  background-color: #5392f9;
}
.small_image {
  background-color: #807e7c;
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: 1fr 1fr;
  gap: 5px;
}
.more {
  font-size: 14px;
  color: #5392f9;
  text-decoration: none;
  margin-top: 5px;
  margin-bottom: 10px;
}
.room_list {
  list-style-type: none;
  font-size: 14px;
}

.list_things {
  display: flex;
  height: 35px;
  align-items: center;
  font-weight: 400;
}
.icon_things {
  margin-right: 10px;
}
.price_header {
  display: grid;
  grid-template-columns: 3fr 0.9fr 2.7fr 1.9fr;
}

.price_detail {
  flex: 1;
  display: grid;
  grid-template-columns: 3fr 0.9fr 2.7fr 1.9fr;
  background-color: white;
}
.be_details {
  list-style: none;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 14px;
}
.icon_green {
  padding-left: 8px;
  padding-right: 8px;
}
.benefit {
  border-right: 1px solid #807e7c;
}
.other {
  display: flex;
  flex-direction: column;
}
.other_subtext {
  display: flex;
}
.icon_dollar {
  padding-left: 8px;
  padding-right: 8px;
  display: flex;
  margin-right: 8px;
  align-items: center;
  border: 1px solid black;
  border-radius: 50%;
}

.subtext {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 8px;
  margin-top: 8px;
  width: 100%;
}

.storage {
  display: flex;
  flex-direction: column;
  border-right: 1px solid #807e7c;
}
.people {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.icon_people {
  display: flex;
  align-items: flex-end;
  padding-left: 10px;
}
.icon_couple {
  padding-top: 10px;
  width: 30px;
  height: 30px;
  color: #807e7c;
  padding-right: 5px;
}
.icon_children {
  padding-left: 5px;
  width: 20px;
  height: 20px;
}
.people_text {
  display: flex;
  justify-content: center;
  font-size: 12px;
  padding-left: 5px;
}
.note {
  padding-left: 5px;
  font-size: 12px;
  background-color: #f7f7f7;
  margin-top: 5px;
}
.pay_cancel {
  background-color: #f4f8fe;
  display: flex;
  flex-direction: column;
  border-right: 1px solid #807e7c;
}
.p_c {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
}
.priceD_N {
  display: flex;
  flex-direction: column;
}
.discout {
  margin-top: 10px;
  margin-left: 2px;
  width: 70%;
  font-size: 12px;
  font-weight: 500;
  background-color: #e12d2d;
  color: white;
  height: fit-content;
  padding-top: 2px;
  cursor: pointer;
  padding-bottom: 2px;
}
.price {
  margin-top: 20px;
  padding-right: 8px;
  display: flex;
  flex-direction: column;
  height: fit-content;
  justify-content: flex-end;
  align-items: flex-end;
  cursor: pointer;
}

.old_price {
  text-decoration: line-through;
  font-size: 14px;
  color: #807e7c;
}
.new_price {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 1px;
  color: #f07859;
}
.book {
  padding: 8px;
}
.booking,
.push_list {
  cursor: pointer;
  width: 100%;
  font-size: 13px;
  height: 40px;
  padding: 10px 0px;
  margin-bottom: 10px;
  border: none;
  font-weight: 600;
  border-radius: 3px;
  background-color: white;
  border: 1px solid var(--btn-color);
  color: var(--btn-color);
}
.push_list:hover {
  background-color: var(--btn-color);
  color: white;
  opacity: 0.7;
  transition: 0.2s;
}
.booking {
  background-color: var(--btn-color);
  color: white;
}
.booking:hover {
  opacity: 0.7;
  transition: 0.2s;
}
