.MemberItem {
  display: flex;
  flex-direction: row;
  height: 100%;
  align-items: center;
  background-color: white;
  border-radius: 8px;
  box-shadow: none;
  border: 1px solid #dddfe2;
  cursor: pointer;
  padding-right: 10px;
  position: relative;
  min-width: 300px;
}
.MemberText {
  display: flex;
  height: 100%;
  align-items: center;
  width: 100%;
}
.options {
  display: flex;
  width: 250px;
  flex-direction: column;
  margin-top: 11px;
  border-radius: 8px;
  box-shadow: none;

  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 6px 2px;
  position: absolute;
  z-index: 3;
  background-color: white;
}
.optionItem {
  width: 100%;
  /* align-items: center;
    justify-content: center;
    text-align: center; */
  display: flex;
  padding-left: 10px;
  position: relative;
  margin-top: 3px;
  margin-bottom: 3px;
}

.optionCounter {
  display: flex;
  position: absolute;
  right: 10px;
  gap: 10px;
  font-size: 18px;
}

.optionText {
  font-size: 16px;
  color: #20274d;
  width: fit-content;
  font-weight: 600;
}
