.ErrorPage {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.error_content {
  width: fit-content;
  display: flex;
  height: fit-content;
  padding: 40px 0px;
  flex-direction: column;
}

.search {
  display: flex;
  height: 66px;
  margin-top: 10px;
  gap: 10px;
  width: 100%;
  justify-content: center;
}

.inputsearch {
  width: 500px;
}
.dateplant {
  min-width: 400px !important;
}
.text1 {
  width: 100%;
  letter-spacing: 1px;
  font-size: 32px;
  font-weight: 400;
  margin-bottom: 50px;
}

.error_value {
  color: #5392f9;
  font-weight: 500;
}

.text2 {
  font-size: 2.2rem;
  width: 100%;
  padding-bottom: 8px;
  border-bottom: 1px solid #d6d6d6;
  font-weight: 500;
}

.subfooter {
  width: 100%;
}

.search_btn {
  min-width: 130px;
  width: fit-content;
  height: 100%;
  padding: 11px 0;
  font-size: 18px;
  font-weight: 200;
  color: white;
  background-color: var(--btn-color);
  border: none;
  border-radius: 12px;
}
.search_btn:hover {
  opacity: 0.7;
  transition: 0.2s;
}
