:root{
    --login-color:#9bd4ff;
    --header-background-color:white;
    --footer-color:#c1ae92;
    --footer-background-color:#2a2a2e;
    --home-tile-acti-color:#4b4f56 ;
    --btn-color:#5392f9;
    --border-color:#cfcfcf;
}