.container {
  /* display: flex; */
  width: 100%;
  padding: 10px 25%;
}
.container #one{
  padding:12px;
  background-color: rgb(83, 146, 249);
  border: none;
  color: #fff;
  border-radius: 4px;
  margin-top: 10px;
}
.container #one:hover{
  opacity: 0.7;
}
.card {
  margin: 10px 0px 20px 0;
}

.title {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  font-size: 2rem;
  font-weight: 400;
}
